@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style untuk Animasi Emoticon Password */
.password-container {
    position: relative;
}

.password-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}